<div class="pagina">
    <div class="pagina-topo">
        <app-menu-topo-utilizador></app-menu-topo-utilizador>
    </div>
    

    <div class="restante-pagina" *ngIf="carregouUtilizador">

        <div class="topo">
            <img src="../../../assets/{{utilizador.avatar}}" class="avatar">

            <div class="nome-e-email">
                <h2 >{{utilizador.nome}}</h2>
                <h3 >{{utilizador.email}}</h3>
            </div>
        
            <div class="vl"></div>

            <div class="tags">
                <h2>Tags</h2>
                <div class="t">
                    <p *ngFor="let tag of utilizador.tags">{{tag}}</p>

                </div>
            </div>

            <div class="estado-emocional">
                <h2>Estado Emocional</h2>
                <p>{{utilizador.estadoEmocional}}</p>
            </div>

            <div class="vl"></div>

            <div class="amigos">
                <button class="botao-topo" (click)="opcao(3)"><b>Editar Perfil</b></button>
                <button class="botao-topo" (click)="opcao_apagar_conta=!opcao_apagar_conta"><b>Apagar Conta</b></button>
            </div>

            


        </div>

        <div class="baixo">
            <div class="esquerda">
                <p (click)="opcao(1)" [ngClass]="opcaoStyle[1]"><b>Feed</b></p>
                <p (click)="opcao(2)" [ngClass]="opcaoStyle[2]"><b>Informação</b></p>
                <p (click)="opcao(5)" [ngClass]="opcaoStyle[3]"><b>Cloud de tags</b></p>
            </div>


            <div class="direita" *ngIf="opcao_feed && carregouUtilizador">
                <app-feed-posts [utilizador] = "utilizador"></app-feed-posts>
            </div>

            <div class="direita" *ngIf="opcao_informacao">
                <app-informacao-perfil [uti] = "utilizador"></app-informacao-perfil>
            </div>
        
            <div class="direita" *ngIf="opcao_editar_perfil">
                <app-editar-perfil (atualizarUtilizador)="carregarInformacoes($event)"></app-editar-perfil>
            </div>

            <div class="direita" *ngIf="opcao_cloud_tags">
                <app-cloud-tags [tipoDeTags]="1"></app-cloud-tags>
            </div>

            


        </div>


        <div class="janelaApagarConta" *ngIf="opcao_apagar_conta">
            <h2>Tem a certeza que quer apagar a sua conta?</h2>
            <p>Todos os dados relativos á conta (informações pessoais, amizades) serão removidos e não poderão ser recuperados mais tarde.</p>
            <div class="botoes">
                <button style="background-color: firebrick;margin-right: 5px; " (click)="fecharApagarConta()"><b>Fechar</b></button>
                <button style="background-color: forestgreen;" (click)=apagarConta()><b>Apagar Conta</b></button>
            </div>
        </div>


    </div>

    <div class="aProcurar" *ngIf="!carregouUtilizador">
        <p>A carregar utilizador...</p>
        <div class="loader"></div>
    </div>
</div>
