.pagina {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.topo h1 {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1d1d1d;
  padding-bottom: 5px;
}

.topo select {
  border: 0;
}

.topo select:focus,
.topo select:hover {
  outline: 0;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: rgb(223, 223, 223);
  height: 1px;
}

.main {
  width: 100%;
  height: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.aCarregar {
  width: 100%;
  height: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ver-mais {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.ver-mais a {
  margin-top: 5px;
  color: #20416a;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.utilizador {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 0;
  cursor: pointer;
}

.utilizador img {
  width: 100%;
}

.utilizador-autenticado {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 0;
  cursor: pointer;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}

.utilizador-autenticado img {
  width: 100%;
}

.posicao {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-pessoal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 71%;
  max-width: 72%;
}

.info-pessoal h2 {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-pessoal p {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.pontos {
  width: 9%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20416a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

.aCarregar p {
  color: rgb(161, 161, 161);
  font-size: 0.9rem;
}

.loader {
  margin-top: 2%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #20416a;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
