.pagina {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topo {
  width: 100%;
  height: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meio {
  width: 100%;
  height: 60%;
}

.fundo {
  width: 100%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topo h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

form .introducao {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 37%;
}

.introducao select {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: #20416a;
}

.introducao select:focus {
  outline: 0;
}

form .ligacao {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 63%;
}

form h2 {
  color: white;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form .tags {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  border-radius: 10px;
}

form .tags h2 {
  background-color: grey;
  padding: 2px 5px;
  font-size: 1.1rem;
  border-radius: 10px;
}

form input {
  background-color: transparent;
  border: 0;
  color: #20416a;
  width: 100%;
  padding: 0 5px;
}

form input:focus {
  outline: 0;
}

form .mensagem {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  border-radius: 10px;
}

form .mensagem h2 {
  background-color: grey;
  padding: 2px 5px;
  font-size: 1rem;
  border-radius: 10px;
  width: 40%;
}

form .forca-ligacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form .forca {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .forca output {
  color: white;
  margin-left: 5px;
}

.fundo button {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.fundo button:hover {
  opacity: 0.8;
}

.a-procurar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.a-procurar h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #20416a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
