<div class="pagina">

    <div class="topo">
        <h2>Politica de Privacidade</h2>
        <hr>
    </div>

    <div class="meio">
        <p>A confidencialidade e a integridade dos seus dados pessoais são uma preocupação da Aplicação Social Network Game.</p>
        <p>A aplicação cumpre a legislação de proteção de dados pessoais em vigor, nomeadamente nas relações com os seus utilizadores em particular o Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de Abril de 2016 (“Regulamento” ou “RGPD”).</p>
        <p>A Social Network Game é responsável pelo tratamento dos seus dados pessoais que nos sejam disponibilizados no âmbito da utilização da rede social.</p>
        <p>A Social Network Game e os seus prestadores de serviços na área da gestão e armazenamento de dados, utilizam uma diversidade de medidas de segurança, incluindo ferramentas de autenticação, para ajudar a proteger e manter a segurança dos seus dados pessoais em conformidade com os requisitos de proteção de dados aplicáveis.</p>
        <p>Os dados disponibilizados à aplicação. serão usados unicamente durante o período de tempo de demonstração da aplicação, após o qual serão destruídos de forma segura, salvo se, durante esse período, não tenha já retirado o seu consentimento.</p>
        <p>A maior parte dos dados pessoais não são obrigatórios, mas recomendamos que para um maior rendimento do uso da aplicação todos os dados sejam especificados.</p>
        <p>Pode, em qualquer altura, alterar ou retirar o seu consentimento à utilização dos seus dados pessoais aqui transmitidos, com efeitos para o futuro. Ao fazê-lo, os seus dados serão apagados de forma segura.</p>
        <p>Para alterar ou retirar o seu consentimento dos dados fornecidos à aplicação deverá contactar o Encarregado da Proteção de Dados através do endereço de email 1181178@isep.ipp.pt.</p>
        <br>
        <h4>Que dados são recolhidos?</h4>
        A Social Network Game recolhe os seguintes dados:<br>
        • Informação de identificação pessoal (Nome, Email);<br>
        • Dados pessoais facultativos (Localização, contacto telefónico, data nascimento);<br>
        • Tags de interesse;<br>
        • Informação acerca do estado de humor.<br><br>
        <h4>Como são recolhidos os dados?</h4>
        A Social Network Game recolhe os dados do utilizador e processa-os quando:<br>
        • No ato do registo na aplicação.<br>
        • Na alteração do perfil de utilizador<br><br>
        <h4>Como serão usados os dados?</h4>
        A Social Network Game recolhe os dados com o intuito de:<br>
        • Criar um novo utilizador da aplicação e devida ficha de cliente;<br>
        • Criar novas amizades e aumentar a sua rede social.<br><br>
        <h4>Como são armazenados os dados?</h4>
        A Social Network Game armazena os dados em segurança no serviço de base de dados SQL. Este serviço cloud apresenta vários sistemas de segurança perante os dados guardados:<br>
        • Segurança de Rede;<br>
        • Gestão de Acesso;<br>
        • Proteção de ameaças;<br>
        • Proteção de informação.<br><br>
        A Social Network Game irá manter os dados recolhidos até 31 de janeiro de 2022. Uma vez que este período seja atingido, a base de dados será apagada com toda a informação sobre o utilizador devido ao fim do período de demonstração da aplicação.<br><br>
        <h4>Quais são os direitos de proteção de dados?</h4>
        A Social Network Game gostaria de informar os seus utilizadores de todos os direitos relacionados com proteção de dados. Assim sendo os utilizadores terão:<br>
        • <strong>Direito de Acesso</strong> – o utilizador tem o direito de pedir à Social Network Game uma cópia dos seus dados pessoais.<br>
        • <strong>Direito de retificação</strong> – o utilizador tem o direito de pedir à Social Network Game uma retificação dos seus dados pessoais a qualquer momento. O utilizador tem também o direito de pedir o preenchimento de qualquer informação que esteja incompleta.<br>
        • <strong>Direito ao Esquecimento</strong> – o utilizador tem o direito de pedir à Social Network Game que apague os seus dados sobre certas condições.<br>
        • <strong>Direito de restrição de processamento</strong> – o utilizador tem o direito de pedir à Social Network Game que restrinja o processamento dos seus dados, sobre certas condições.<br><br>
        Se o utilizador pretender executar um pedido, a Social Network Game tem um limite de cinco dias uteis para responder. Se pretender contactar a mesma, para exercer algum destes direitos, por favor contactar:<br>
        Ligue-nos em: 256098779<br>
        Escreva-nos em: socialnetworkgame@gmail.com<br><br>
        <h4>Modificações na política de privacidade</h4>
        A Social Network Game mantém a sua política de privacidade regularizada e coloca
        atualizações na aplicação. Esta política de privacidade foi alterada pela última vez dia 22 de
        Janeiro de 2022.<br><br>
        <button style="background-color: firebrick;margin-right: 5px; " (click)="fechar()"><b>Fechar</b></button>
        <br>
        <br>
    </div>
    </div>
    
<div>