<div class="pagina">
    <div class="main">
        <div class="seccao">
            <h2>Informação Principal</h2>
            <hr>
            <form [formGroup]="formInformacaoPrincipal">
                <div class="form-seccao">
                    <h3>Email:</h3>
                    <p>{{email}}</p>
                </div>

                <div class="form-seccao">
                    <h3>Palavra Passe:</h3>
                    <input type="password" formControlName="password">
                </div>

                <div class="form-seccao">
                    <h3>Confirmar Palavra Passe:</h3>
                    <input type="password" formControlName="confirmarPassword">
                </div>
            </form>
        </div>
 

        <div class="seccao">
            <h2>Informação Básica</h2>
            <hr>
            <form [formGroup]="formInformacaoBasica">
                <div class="form-seccao">
                    <h3>Nome:</h3>
                    <input type="text" formControlName="nome">
                </div>

                <div class="form-seccao">
                    <h3>Data Nascimento:</h3>
                    <input type="date" formControlName="dataNascimento">
                </div>

                <div class="form-seccao">
                    <h3>Descrição:</h3>
                    <input type="text" formControlName="descricao" placeholder="Não especificada">
                </div>
            </form>

        </div>

        <div class="seccao">
            <h2>Tags</h2>
            <hr>
            <form [formGroup]="formTags">
                <div class="form-seccao">
                    <h3>Lista:</h3>
                    <input type="text" formControlName="listaTags">
                </div>
            </form>
        </div>

        <div class="seccao">
            <h2>Estado Emocional</h2>
            <hr>
            <form [formGroup]="formEstadoEmocional">
                <div class="form-seccao">
                    <h3>Emoção:</h3>
                    <select formControlName="emocao">
                        <option *ngFor="let emocao of estadosEmocionais">{{emocao}}</option>
                    </select>
                </div>
            </form>

          
        </div>

        <div class="seccao">
            <h2>Avatar</h2>
            <hr>
            <div class="lista-avatares">
                <img  *ngFor="let avatar of avatares; let i=index" src="../../../assets/{{avatar}}" [ngClass]="tipoAvatar[i]" (click)="escolherAvatar(avatar)">
            </div>
        </div>

        <div class="seccao">
            <h2>Localização</h2>
            <hr>
            <form [formGroup]="formLocalizacao">
                <div class="form-seccao">
                    <h3>País:</h3>
                    <input type="text" formControlName="pais" placeholder="Nao especificado">
                </div>

                <div class="form-seccao">
                    <h3>Cidade:</h3>
                    <input type="text" formControlName="cidade" placeholder="Nao especificada">
                </div>
            </form>
        </div>

        <div class="seccao">
            <h2>Contacto</h2>
            <hr>
            <form [formGroup]="formContacto">
                <div class="form-seccao">
                    <h3>Codigo País:</h3>
                    <input type="text" formControlName="indicativo" placeholder="Nao especificado">
                </div>

                <div class="form-seccao">
                    <h3>Número:</h3>
                    <input type="text" formControlName="numero" placeholder="Nao especificado">
                </div>
            </form>
        </div>

        <div class="seccao">
            <h2>Redes Sociais</h2>
            <hr>
            <form [formGroup]="formRedesSociais">
                <div class="form-seccao">
                    <h3>Facebook:</h3>
                    <input type="text" formControlName="facebook" placeholder="Nao especificado">
                </div>

                <div class="form-seccao">
                    <h3>LinkedIn:</h3>
                    <input type="text" formControlName="linkedIn" placeholder="Nao especificado">
                </div>
            </form>
            
        </div>



    </div>

    <div class="baixo">
        <button class="botao-fundo" style="background-color: firebrick;" (click)="cancelar()" ><b>Cancelar</b></button>
        <button class="botao-fundo" style="background-color: forestgreen;" (click)="guardar()" ><b>Guardar</b></button>
    </div>
</div> 